.container
  %ul
    - @profile.errors.full_messages.each do |message|
      %li= message

  = form_with(model: @profile, url: profile_path, method: 'put', local: true) do |f|
    %div
      = f.label :avatar, 'アバター/avatar'
    %div
      = f.file_field :avatar
    %div
      = f.label :nickname, 'ハンドルネーム/nick name'
    %div
      = f.text_field :nickname, class: 'text'
    %div
      = f.label :introduction, 'SNS・自己紹介・ジャンルや活動内容/Self-introduction'
    %div
      = f.text_area :introduction
    %div
      = f.label :gender, '性別/Gender'
    %div
      = f.select :gender, Profile.genders.map {|k, v|[I18n.t("enum.genders.#{k}"), k ] }, {}, {class: 'text'}
    %div
      = f.label :birthday, '生年月日/Barthday'
    %div
      = f.date_field :birthday, class: 'text'
    %div
      = f.label :subscribed, '通知を受け取る/Receive notifications'
      = f.check_box :subscribed

    = f.submit '保存/Save', class: 'btn-primary'

